* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
/* VARIABLES */
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --white: #ffffff;
    --background: #E5E5E
}
/* HEADER */
.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__img {
    width: 150px;
    height: 30px;
    margin-top: 55px;
    align-self: center;
}
.header__img img {
    width: 100%;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    text-align: center;
    align-self: center;
    margin-top: 35px;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header__title-container--p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
    color: var(--soft-orange);
}
.header__title-container-button{
    position: absolute;
    top: 310px;
    left: calc(50% - 118px);
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    line-height: 1.8rem;
    /* Sombras */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
}
.header__title-container-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url(./assets/icons/Vector.svg);
    margin-left: 13px;
}